In [2]:
import pandas as pd

In [19]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,nrows=2,index_col=0)
df.index.name = '목록'
df.index.values

df = df.T
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [ ]:
df.columns.values
# 컬럼 이름을 변경하시오 ->  출수,합율

# 컬럼 이름 변경 방법
# 방법1. rename()
# df.rename(columns={'출생아\xa0수':'출수', '합계\xa0출산율':'합율'},inplace=True)
# df

# 방법2. df.columns=[] <- [] 안에는 df의 모든 컬럼 적어야함.
df.columns = ['출수','합율']
df

         출수     합율
2014  435.4  1.205
2015  438.4  1.239
2016  406.2  1.172
2017  357.8  1.052
2018  326.8  0.977
2019  302.7  0.918
2020  272.3  0.837
2021  260.6  0.808
2022  249.1  0.780
2023  230.0  0.720

In [18]:
df['출수']

2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
2022    249.1
2023    230.0
Name: 출수, dtype: float64