In [19]:
import pandas as pd
df = pd.read_excel('pandas_code.xlsx')
df.describe()
df['수학'].describe()

count    1000.000000
mean       72.397000
std        16.236595
min        45.000000
25%        59.000000
50%        72.000000
75%        86.000000
max       100.000000
Name: 수학, dtype: float64

기본 수치 계산에 대한 개별 정보 확인

In [20]:
df['수학'].min()		# 최소값
df['수학'].max()		# 최대값
df['수학'].mean()		# 평균
df['수학'].std()		# 표준편차
df['수학'].nlargest(3)  # 최대값 3명 출력
df['수학'].nsmallest(3) # 최소값 3명 출력

18     45
117    45
188    45
Name: 수학, dtype: int64

In [21]:
df = pd.read_excel('score.xlsx')
df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest(3)	# 숫자 입력 안하면 기본 5개 출력
df['키'].nsmallest(3)
df['국어'].sum()
df['키'].count()
df['SW특기'].count()
df['학교'].unique()		# 중복제거 후 데이터 확인
df['학교'].nunique()	# 중복제거 개수 확인

2

In [25]:
# 컬럼에 대한 확인
df['키']						# 컬럼 1개 확인
df[['이름','키']]		# 컬럼 복수 확인
df['키'],df['이름']	

# 모든 컬럼명 확인
df.columns
df.columns[0]
df.columns[0:2]		# 컬럼 슬라이싱
df['이름']				# 컬럼의 데이터 확인
df.columns[-1]
# 컬럼데이터 확인 - 제일 마지막 컬럼의 데이터 확인
df['SW특기']
df[df.columns[-1]]
df[df.columns[[0,3,-1]]] # 0,3,마지막 컬럼 데이터 확인

  지원번호    키        SW특기
0   1번  197      Python
1   2번  184        Java
2   3번  168  Javascript
3   4번  187         NaN
4   5번  188         NaN
5   6번  202           C
6   7번  188      Python
7   8번  190          C#