In [129]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [130]:
df = pd.read_excel('연령별인구현황01.xlsx',index_col='행정기관',skiprows=3,nrows=1,usecols='b,e:y')
df.index
# 빈공백제거
df.index[0].strip()
# index 1번째 row 데이터를 출력
df.loc['전국  ']
df.loc[df.index[0]]

## index 이름 변경
df.rename(index={df.index[0]:df.index[0].strip()},inplace=True)

df.index

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['전국'], dtype='object', name='행정기관')

In [131]:
df.loc['전국']

0~4세         678,966
5~9세       1,019,087
10~14세     1,195,436
15~19세     1,195,498
20~24세     1,446,090
25~29세     1,777,534
30~34세     1,788,146
35~39세     1,629,589
40~44세     2,055,022
45~49세     1,965,092
50~54세     2,279,578
55~59세     2,115,365
60~64세     2,093,694
65~69세     1,670,380
70~74세     1,066,316
75~79세       760,968
80~84세       519,583
85~89세       231,644
90~94세        59,761
95~99세         9,722
100세 이상        1,473
Name: 전국, dtype: object

In [132]:
df.loc['전국'] = df.loc['전국'].str.replace(",","").astype(int)
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,678966,1019087,1195436,1195498,1446090,1777534,1788146,1629589,2055022,1965092,...,2115365,2093694,1670380,1066316,760968,519583,231644,59761,9722,1473

In [133]:
df = df.T
# df.info()

In [134]:
df

행정기관          전국
0~4세      678966
5~9세     1019087
10~14세   1195436
15~19세   1195498
20~24세   1446090
25~29세   1777534
30~34세   1788146
35~39세   1629589
40~44세   2055022
45~49세   1965092
50~54세   2279578
55~59세   2115365
60~64세   2093694
65~69세   1670380
70~74세   1066316
75~79세    760968
80~84세    519583
85~89세    231644
90~94세     59761
95~99세      9722
100세 이상     1473

In [135]:
df['전국'].min()
df['전국'].max()

2279578

In [136]:
# 이름변경
# 출생아 수 최대값 최소값 출력
# 축변경

In [137]:
df = pd.read_excel('출산율2.xlsx',skiprows=2,skipfooter=2,index_col=0)
df.index.name = '목록'
df

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
목록,,,,,,,,,,
출생아 수,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600,249.10,230.00
합계 출산율,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.78,0.72

In [138]:
df.index
df.index.values

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [139]:
df.loc['출생아\xa0수']
df.loc[df.index[0]]

df.rename(index={'출생아\xa0수':'출생아 수','합계\xa0출산율':'합계 출산율'},inplace=True)

In [140]:
df.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [141]:
df.loc['출생아 수'].astype(float)
df.loc['합계 출산율'].astype(float)

2014    1.205
2015    1.239
2016    1.172
2017    1.052
2018    0.977
2019    0.918
2020    0.837
2021    0.808
2022    0.780
2023    0.720
Name: 합계 출산율, dtype: float64

In [142]:
df = df.T
df

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [143]:
df['출생아 수'].min()
df['출생아 수'].max()

np.float64(438.4)

In [145]:
filt = (df['출생아 수']>=300) & (df['합계 출산율']>=1)
df[filt]

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052