In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80         NaN
5번    김재욱  가산고  188   15   20   10  10         NaN
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      Python
8번    승근열  구로고  190  100   85   90  95          C#

### 데이터 선택 - loc() -> row 값을 가져옴

In [6]:
# 데이터 선택 - row -> index 값으로 가져옴

# df.loc[index 값]
df.loc['1번']
df.loc['2번']

이름       강태원
학교       구로고
키        184
국어        40
영어        35
수학        50
사회        25
SW특기    Java
Name: 2번, dtype: object

In [ ]:
df = pd.read_excel('score.xlsx')
df
# index 값을 지정하지 않으면, index에 번호가 부여되어있음
df.loc[0]

# df.iloc[] - index 값 지정 여부와 상관없이 index 번호로 검색
df.iloc[0]

지원번호        1번
이름         강나래
학교         구로고
키          197
국어          90
영어          85
수학         100
사회          85
SW특기    Python
Name: 0, dtype: object

In [ ]:
# index 값으로 검색해서 그것에 해당되는 컬럼 값 가져오기
# index '1번'의 국어점수 출력
df.loc['1번','국어']

# index '1번','2번'의 국어점수 출력
df.loc[['1번','2번'],'영어']

df.loc[['1번','2번','5번'],['영어','수학']]

df.loc['2번':'6번','국어':'사회']		# 슬라이싱

      국어   영어  수학  사회
지원번호
2번    40   35  50  25
3번    80   75  70  75
4번    40   60  70  80
5번    15   20  10  10
6번    80  100  95  80

### 데이터 선택 - iloc() -> row 값을 가져옴