In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('chipotle.tsv',sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [56]:
# 메뉴별 주문 건수를 출력하시오
df.groupby('item_name')['quantity'].count()

item_name
6 Pack Soft Drink                         54
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            162
Bowl                                       2
Burrito                                    6
Canned Soda                              104
Canned Soft Drink                        301
Carnitas Bowl                             68
Carnitas Burrito                          59
Carnitas Crispy Tacos                      7
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             726
Chicken Burrito                          553
Chicken Crispy Tacos                      47
Chicken Salad                              9
Chicken Salad Bowl                       110
Chicken Soft Tacos                       115
Chips                                    211
Chips and Fresh Tomato Salsa             110
Chips and Guacamole                      479
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        22
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo-Green Chili Salsa     31
Chips and Tomatillo-Red Chili Salsa       20
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          27
Salad                                      2
Side of Chips                            101
Steak Bowl                               211
Steak Burrito                            368
Steak Crispy Tacos                        35
Steak Salad                                4
Steak Salad Bowl                          29
Steak Soft Tacos                          55
Veggie Bowl                               85
Veggie Burrito                            95
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          7
Name: quantity, dtype: int64

In [57]:
# 메뉴별 총 주문수량을 출력하시오
df.groupby('item_name')['quantity'].sum()

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

In [58]:
# 주문당 평균 금액 출력
# df.info()
df['item_price'] = df['item_price'].str[1:].astype(float)

In [59]:

df.groupby('order_id')['item_price'].sum().mean()

np.float64(18.811428571428568)

In [67]:
# 아이템별 가격 금액을 출력하시오
df.groupby('item_name')['item_price'].min().sort_values(ascending=False)

item_name
Carnitas Salad Bowl                      9.39
Barbacoa Salad Bowl                      9.39
Steak Salad Bowl                         9.39
Carnitas Crispy Tacos                    8.99
Barbacoa Soft Tacos                      8.99
Carnitas Salad                           8.99
Carnitas Bowl                            8.99
Carnitas Soft Tacos                      8.99
Steak Soft Tacos                         8.99
Barbacoa Crispy Tacos                    8.99
Veggie Salad Bowl                        8.75
Chicken Salad Bowl                       8.75
Steak Bowl                               8.69
Steak Salad                              8.69
Carnitas Burrito                         8.69
Steak Crispy Tacos                       8.69
Barbacoa Burrito                         8.69
Barbacoa Bowl                            8.69
Steak Burrito                            8.69
Veggie Bowl                              8.49
Chicken Soft Tacos                       8.49
Chicken Crispy Tacos                     8.49
Veggie Soft Tacos                        8.49
Veggie Salad                             8.49
Veggie Crispy Tacos                      8.49
Veggie Burrito                           8.49
Chicken Salad                            8.19
Chicken Burrito                          8.19
Chicken Bowl                             8.19
Salad                                    7.40
Bowl                                     7.40
Burrito                                  7.40
Crispy Tacos                             7.40
6 Pack Soft Drink                        6.49
Chips and Guacamole                      3.89
Nantucket Nectar                         3.39
Izze                                     3.39
Chips and Mild Fresh Tomato Salsa        3.00
Chips and Roasted Chili Corn Salsa       2.95
Chips and Tomatillo Green Chili Salsa    2.95
Chips and Tomatillo Red Chili Salsa      2.95
Chips and Roasted Chili-Corn Salsa       2.39
Chips and Tomatillo-Red Chili Salsa      2.39
Chips and Tomatillo-Green Chili Salsa    2.39
Chips and Fresh Tomato Salsa             2.29
Chips                                    1.99
Side of Chips                            1.69
Canned Soft Drink                        1.25
Bottled Water                            1.09
Canned Soda                              1.09
Name: item_price, dtype: float64

In [61]:
# 주문별, 높은 가격순으로 주문개수를 출력하시오.
df.groupby('order_id')[['quantity','item_price']].sum().sort_values('item_price',ascending=False)

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74
1483            14      139.00
691             11      118.25
1786            20      114.30
...            ...         ...
1262             2       10.08
1436             2       10.08
889              2       10.08
14               2       10.08
17               2       10.08

[1834 rows x 2 columns]